blinker==1.8.2
Cartopy==0.23.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
Flask==3.0.3
fonttools==4.45.1
idna==3.6
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
lxml==5.2.2
MarkupSafe==2.1.5
matplotlib==3.8.2
mysql-connector-python==8.3.0
numpy==1.26.2
packaging==23.2
pandas==2.2.3
Pillow==10.1.0
plotly==5.24.1
plyer==2.1.0
pyparsing==3.1.1
pyproj==3.7.0
pyshp==2.3.1
python-dateutil==2.8.2
python-pptx==0.6.23
pytz==2024.2
requests==2.31.0
setuptools==71.1.0
shapely==2.0.6
six==1.16.0
tenacity==9.0.0
tzdata==2024.2
urllib3==2.1.0
Werkzeug==3.0.4
wheel==0.43.0
XlsxWriter==3.2.0
